.ant-select-selector {
  border-radius: 8px !important;
  /* height: 36px !important; */
  border-color: #A3ABEB !important;
  border-width: 2px !important;
}

.ant-input[disabled] {
  color: black !important;
}